html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

*:hover {
  box-sizing: border-box;
}

button:hover {
  box-shadow: 0 5px 15px var(--black-30);
}
